/* COLORS */

$blue900: #0B0D17;
$blue300: #D0D6F9;
$white: #FFFFFF;

/* TYPOGRAPHY */

$text-presets: (
    1: (--font-bellefair, 144px, 100%, 0),
    2: (--font-bellefair, 100px, 100%, 0),
    3: (--font-bellefair, 56px, 100%, 0),
    4: (--font-bellefair, 32px, 100%, 0),
    5: (--font-barlow-condensed, 28px, 100%, 4px),
    6: (--font-bellefair, 28px, 100%, 0),
    7: (--font-barlow-condensed, 14px, 100%, 2px),
    8: (--font-barlow-condensed, 16px, 100%, 2px),
    9: (--font-barlow, 18px, 180%, 0),
);

@mixin textPreset($preset-id, $color: $white) {
    $preset: map-get($text-presets, $preset-id);

    @if $preset !=null {
        font-family: var(nth($preset, 1)), serif;
        font-size: nth($preset, 2);
        line-height: nth($preset, 3);
        letter-spacing: nth($preset, 4);
        color: $color;
    }

    @else {
        @warn "Preset `#{$preset-id}` não encontrado!";
    }
}