@use "@/styles/variables" as *;

.home-container {
    background: url('/assets/home/background-home-desktop.jpg') no-repeat center / cover;
    height: 100vh;
    display: flex;
    align-items: end;

    .home-main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10.3125rem 8rem;

        .home-hero {
            display: flex;
            flex-flow: column;
            gap: 1.5rem;
            width: 33.75rem;

            h1 {
                @include textPreset(1);
                text-transform: uppercase;
            }

            h2 {
                @include textPreset(5, $blue300);
                text-transform: uppercase;
            }

            p {
                @include textPreset(9, $blue300);
            }
        }
    }
}